.container {
  justify-items: center;
  padding: 40px;
  margin-top: 50px;
  margin-left: -10px;
  margin-right: -10px;
  height: 600px;
}

.nav {
  float: right;
  /* position: fixed; */
  width: -1000px;
}
.name {
  display: inline-block;

  position: fixed;
  padding-left: 3%;
}
#descript {
  text-align: center;
  align-items: center;
  height: 400px;
}
h1 {
  padding-top: 1%;
  font-family: "apparat-light", sans-serif;

  font-weight: 400;

  font-style: normal;
}
h5 {
  font-family: "apparat-light", sans-serif;

  font-weight: 400;

  font-style: normal;
}
h6 {
  font-family: "apparat-light", sans-serif;

  font-weight: 400;

  font-style: normal;
}
#ab {
  background-color: rgb(252, 243, 243);
  height: 700px;
}
#work {
  text-align: center;
}
